---
import '@fontsource-variable/lora';
---

<div>
    <header class="main-header">
        <h1>Ty Malik</h1>
        <ul>
            <div class="links-one">
                <li>
                    <a href="tel:+14057160711">(405)716-0711</a>
                </li>
                <li>
                    <a href="mailto:tymalik@pm.me">tymalik@pm.me</a>
                </li>
                <li>
                    <a href="https://calendly.com/tymalik/">calendly.com/tymalik</a>
                </li>
            </div>
            <div class="links-two">
                <li>
                    <a href="https://tymalik.me/">tymalik.me</a>
                </li>
                <li>
                    <a href="https://github.com/permalik/">github.com/permalik</a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/permalik/">linkedin.com/in/permalik</a>
                </li>
            </div>
        </ul>
    </header>
    <main>
        <h2 class="h-two">technical</h2>
        <hr>
        <section>
            <h3 class="h-three">core</h3>
            <p>Go, C#, JavaScript</p>
            <h3 class="h-three">support</h3>
            <p>Astro, Bash, CSS, Git, Linux, MongoDB, Neovim, .NET, Nginx, QT, Redis, SQL, SvelteKit, Vim</p>
            <h3 class="h-three">studying</h3>
            <p>Haskell, C, Zig, Rust, Lua</p>
            <!--TODO: lisp, ocaml, elixir, c, c++, java, swift, kotlin, python, kafka, lucene, messagepak, nix-->
        </section>
        <h2 class="h-two">experience</h2>
        <hr>
        <section>
            <header class="exp-header">
                <div>
                    <h3 class="h-three">revenue management solutions</h3>
                    <p class="sub-h-three">Oklahoma City, OK</p>
                </div>
                <div>
                    <h3 class="h-three">devops engineer</h3>
                    <p class="sub-h-three">June 2024 - Present</p>
                </div>
            </header>
            <p>
                RMS automates consolidation of the healthcare industry's financial data and assets (
                <a href="https://rmsweb.com/">rmsweb.com</a>
                )
            </p>
            <ul class="exp-list">
                <li>
                    Manage application lifecycle, deploying to Linux and Windows servers.
                </li>
                <li>
                    Enhance pipelines, updating containers, Ansible, Cron, FTLs, and Linux/Windows scripting.
                </li>
                <li>
                    Prevent application failure, cleaning servers, transplanting applications, and rotating logs.
                </li>
                <li>
                    Improve code quality, refactoring logic and database calls in web apps.
                </li>
                <li>
                    Increase team efficacy, writing internal tooling in Python, .NET, Go.
                </li>
                <li>
                    Perform root-cause analysis, debugging file parsers, loaders, and consolidators.
                </li>
                <li>
                    Maintain large data ingest and egress, leveraging transit systems built atop SFTP, .NET and Java applications, and message queues.
                </li>
                <li>
                    Ensure financial data integrity, diagnosing and resolving SQL inconsistencies.
                </li>
            </ul>
        </section>
        <hr>
        <section>
            <header class="exp-header">
                <div>
                    <h3 class="h-three">wpa intelligence</h3>
                    <p class="sub-h-three">Oklahoma City, OK</p>
                </div>
                <div>
                    <h3 class="h-three">software engineer</h3>
                    <p class="sub-h-three">September 2022 - June 2024</p>
                </div>
            </header>
            <p>
                Bonfire is a SaaS analytics warehouse, query platform, high-volume SMS messaging tool, and mobile application for US voter data (
            <a href="https://app.bonfiredata.com/login/">app.bonfiredata.com</a> )
            </p>
            <ul class="exp-list">
                <li>
                    Enhance users' workflow, implementing new query-builder features.
                </li>
                <li>
                    Reduce technical debt, tree-shaking imports and introducing logic to replace superfluous libraries.
                </li>
                <li>
                    Refine codebase clarity, refactoring functional charting implementation to imperative methods.
                </li>
                <li>
                    Improve database resiliency and client-side API calls, converting standard JSON entities to an explicitly typed schema.
                </li>
                <li>
                    Update and maintain sql and no-sql databases with US voter data, in-house research models, and client data archives.
                </li>
                <li>
                    Increase developer experience and efficacy, implementing CICD pipelines with GitHub Actions/Cypress and staff tooling with Slackbot/GitHub REST API.
                </li>
                <li>
                    Lead client meetings, receiving new feature requests and showcasing existing functionality.
                </li>
                <li>
                    Write documentation for codebase, application, and end user.
                </li>
                <li>
                    Perform external recruitment and developer interviews, increasing team reach.
                </li>
            </ul>
        </section>
        <h2 class="h-two">projects</h2>
        <hr>
        <section class="proj-section">
            <ul>
                <li>
                    <a href="https://github.com/permalik/crust">crust</a>
                </li>
                <li>
                    <a href="https://github.com/permalik/markdown_parser_rust">markdown_parser_rust</a>
                </li>
                <li>
                    <a href="https://github.com/permalik/annex">annex</a>
                </li>
            </ul>
        </section>
        <!--TODO:
        <h2 class="h-two">education</h2>
        <hr>
        <section class="edu-section">
            <div>
                <h3 class="h-three">western governors university</h3>
                <p class="sub-h-three">Remote | Millcreek, UT</p>
            </div>
            <div>
                <h3 class="h-three">b.s. computer science</h3>
                <p class="sub-h-three">May 2025</p>
            </div>
        </section>
        -->
    </main>
</div>

<style lang="scss">
h2 {
    font-family: 'Lora Variable', sans-serif;
    text-transform: uppercase;
}
h3 {
    font-family: 'Lora Variable', sans-serif;
    text-transform: uppercase;
}
.main-header {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    font-family: 'Lora Variable', sans-serif;

    ul {
        width: 100%;

        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-between;

        & .links-two {
            text-align: end;
        }
    }
}
.exp-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    & div {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: center;

        & h3 {
            margin: 0 0.5rem 0 0;
        }
    }
}
.exp-list {
    list-style: disc;

    font-weight: 300;

    & li {
        margin: 0.25rem 0 0 1rem;
    }
}
.proj-section {
    & ul {
        & li {
            margin: 0.25rem 0 0 0;
        }
    }
}
.edu-section {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;

    & div {
        display: flex;
        flex-flow: row;
        align-items: baseline;

        & h3 {
            margin: 0 0.5rem 0 0 ;
        }
    }
}
.h-two {
    margin: 0.75rem 0 0 0;

    font-size: 1.125rem;
    font-weight: 400;
}
.h-three {
    margin: 0.75rem 0 0 0;

    font-size: 0.85rem;
    font-weight: 500;
}
.sub-h-three {
    font-style: italic;
    font-weight: 200;
}
</style>
