---
import '@fontsource-variable/lora';
---

<div>
    <header class="main-header">
        <h1>Ty Malik</h1>
        <ul>
            <div class="links-one">
                <li>
                    <a href="tel:+14057160711">(405)716-0711</a>
                </li>
                <li>
                    <a href="mailto:tymalik@pm.me">tymalik@pm.me</a>
                </li>
                <li>
                    <a href="https://calendly.com/tymalik/">calendly.com/tymalik</a>
                </li>
            </div>
            <div class="links-two">
                <li>
                    <a href="https://tymalik.me/">tymalik.me</a>
                </li>
                <li>
                    <a href="https://github.com/permalik/">github.com/permalik</a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/permalik/">linkedin.com/in/permalik</a>
                </li>
            </div>
        </ul>
    </header>
    <main>
        <h2 class="h-two">technical</h2>
        <hr>
        <section>
            <p><b>Language: </b>Bash, C, CSS, C#, Go, JavaScript, Python, Zig</p>
            <p><b>Database: </b>MongoDB, Redis, SQL</p>
            <p><b>Tools: </b>Astro, Docker, Git, JetBrains, Jetty, Kafka, Linux, Neovim, Nginx, Radix, React, Tomcat, Vim, .NET</p>
            <!--TODO: sveltekit, qt, cpp, java, quarkus, haskell, lua, lisp, ocaml, elixir, swift, kotlin, lucene, messagepak, nix-->
        </section>
        <h2 class="h-two">experience</h2>
        <hr>
        <section>
            <header class="exp-header">
                <div>
                    <h3 class="h-three">revenue management solutions</h3>
                    <p class="sub-h-three">Oklahoma City, OK</p>
                </div>
                <div>
                    <h3 class="h-three">devops engineer</h3>
                    <p class="sub-h-three">June 2024 - Present</p>
                </div>
            </header>
            <p>
                RMS automates consolidation of the healthcare industry's financial data and assets (
                <a href="https://rmsweb.com/">rmsweb.com</a>
                )
            </p>
            <ul class="exp-list">
                <li>
                    Safeguard millions of dollars of monthly revenue, managing dozens of Linux and Windows servers.
                </li>
                <li>
                    Provide SaaS products to Fortune 50 client, externalizing C# and Java applications running on Jetty and Tomcat web servers.
                </li>
                <li>
                    Prevent daily revenue loss, updating Cron, Docker containers, Ansible, SQL FTLs, and Linux/Windows scripts on-the-fly.
                </li>
                <li>
                    Enable ingestion and egress of millions of monthly assets, providing root-cause analysis of file parsers, loaders, and generators.
                </li>
                <li>
                    Reduce stale data and application failure, cleaning servers, transplanting applications, and rotating logs.
                </li>
                <li>
                    Remove critical failures in web applications used by internal teams, refactoring logic and database calls in Visual Basic.
                </li>
                <li>
                    Improve time to resolution for bug reports, automating tasks and writing internal tooling in Python, .NET, and Go.
                </li>
                <li>
                    Mitigate consistent flow of invalid data, determining and resolving SQL and financial document inconsistencies.
                </li>
            </ul>
        </section>
        <hr>
        <section>
            <header class="exp-header">
                <div>
                    <h3 class="h-three">wpa intelligence</h3>
                    <p class="sub-h-three">Oklahoma City, OK</p>
                </div>
                <div>
                    <h3 class="h-three">software engineer</h3>
                    <p class="sub-h-three">September 2022 - June 2024</p>
                </div>
            </header>
            <p>
                Bonfire is a SaaS analytics warehouse, query platform, high-volume SMS messaging tool, and mobile application for US voter data (
            <a href="https://app.bonfiredata.com/login/">app.bonfiredata.com</a> )
            </p>
            <ul class="exp-list">
                <li>
                    Enhance user data quality, implementing new query-builder features.
                </li>
                <li>
                    Reduce development friction and threatening technical debt, replacing libraries with handrolled logic and refactoring other implementations.
                </li>
                <li>
                    Improve database resiliency and client-side API calls, explicitly typing schema from plain JSON.
                </li>
                <li>
                    Remedy urgent data concerns amidst political elections, managing millions of sql and no-sql records.
                </li>
                <li>
                    Increase internal communication and deployment reliability, implementing and internal tooling CICD using Slackbot, GitHub's REST API, Cypress, and GitHub Actions.
                </li>
                <li>
                    Bolster strong customer relations, leading client meetings to receive feature requests and showcase existing functionality.
                </li>
            </ul>
        </section>
        <h2 class="h-two">projects</h2>
        <hr>
        <section class="proj-section">
            <ul>
                <li>
                    <a href="https://yyyo.ink">Marketing Site and Product Download: yyyoink Markdown Editor</a>
                </li>
                <li>
                    <a href="https://sunsplitstudio.com">Marketing Site and Client Portal: Sunsplit Studio</a>
                </li>
            </ul>
        </section>
        <!--TODO:
        <h2 class="h-two">education</h2>
        <hr>
        <section class="edu-section">
            <div>
                <h3 class="h-three">western governors university</h3>
                <p class="sub-h-three">Remote | Millcreek, UT</p>
            </div>
            <div>
                <h3 class="h-three">b.s. computer science</h3>
                <p class="sub-h-three">May 2025</p>
            </div>
        </section>
        -->
    </main>
</div>

<style lang="scss">
h2 {
    font-family: 'Lora Variable', sans-serif;
    text-transform: uppercase;
}
h3 {
    font-family: 'Lora Variable', sans-serif;
    text-transform: uppercase;
}
.main-header {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    font-family: 'Lora Variable', sans-serif;

    ul {
        width: 100%;

        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-between;

        & .links-two {
            text-align: end;
        }
    }
}
.exp-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    & div {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: center;

        & h3 {
            margin: 0 0.5rem 0 0;
        }
    }
}
.exp-list {
    list-style: disc;

    font-weight: 300;

    & li {
        margin: 0.25rem 0 0 1rem;
    }
}
.proj-section {
    & ul {
        & li {
            margin: 0.25rem 0 0 0;
        }
    }
}
.edu-section {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;

    & div {
        display: flex;
        flex-flow: row;
        align-items: baseline;

        & h3 {
            margin: 0 0.5rem 0 0 ;
        }
    }
}
.h-two {
    margin: 0.75rem 0 0 0;

    font-size: 1.125rem;
    font-weight: 400;
}
.h-three {
    margin: 0.75rem 0 0 0;

    font-size: 0.85rem;
    font-weight: 500;
}
.sub-h-three {
    font-weight: 200;
}
</style>
