---
import '@fontsource-variable/lora';
---

<div>
    <header class="main-header">
        <h1>Ty Malik</h1>
        <ul>
            <div class="links-one">
                <li>
                    <a href="tel:+14057160711">(405)716-0711</a>
                </li>
                <li>
                    <a href="mailto:tymalik@pm.me">tymalik@pm.me</a>
                </li>
                <li>
                    <a href="https://calendly.com/tymalik/">calendly.com/tymalik</a>
                </li>
            </div>
            <div class="links-two">
                <li>
                    <a href="https://tymalik.me/">tymalik.me</a>
                </li>
                <li>
                    <a href="https://github.com/permalik/">github.com/permalik</a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/permalik/">linkedin.com/in/permalik</a>
                </li>
            </div>
        </ul>
    </header>
    <main>
        <h2 class="h-two">technical</h2>
        <hr>
        <section>
            <h3 class="h-three">core</h3>
            <p>Express.js, Git, GraphQL, JavaScript, MongoDB, Node.js, React.js, Redis, SvelteKit, Testing, TypeScript, Vue.js</p>
            <h3 class="h-three">peripheral</h3>
            <p>Ansible, Bash, C#, JSDoc, Laravel, Linux, Lua, Nginx, PHP, Postgres, Python, Rust, Terraform, Vim, .NET</p>
        </section>
        <h2 class="h-two">experience</h2>
        <hr>
        <section>
            <header class="exp-header">
                <div>
                    <h3 class="h-three">wpa intelligence</h3>
                    <p class="sub-h-three">Oklahoma City, OK</p>
                </div>
                <div>
                    <h3 class="h-three">software engineer</h3>
                    <p class="sub-h-three">September 2022 - Present</p>
                </div>
            </header>
            <p>
                Bonfire is a SaaS voter data analytics warehouse, query platform, and high-volume SMS messaging tool (
                <a href="https://app.bonfiredata.com/login/">app.bonfiredata.com</a>
                )
            </p>
            <ul class="exp-list">
                <li>
                    Implement features and fixes in Node.js Express.js server, Vue2 UI, and React Native mobile app
                </li>
                <li>
                    Build tools enabling users to run impactful queries against SQL Server and MongoDB
                </li>
                <li>
                    Refactor GraphQL logic for type safety; refactor functional code to procedural
                </li>
                <li>
                    Normalize and maintain large datasets across SQL Server and MongoDB
                </li>
                <li>
                    Test REST endpoints, GraphQL endpoints, and Rust microservices with Playwright, Pytest, Cypress, Jest, and Rust
                </li>
                <li>
                    Create CI pipeline with GitHub Actions, configure self-hosted runner, and integrate test suites
                </li>
                <li>
                    Develop internal CLI and desktop tooling, leveraging third-party REST APIs
                </li>
                <li>
                    Introduce user-facing and internal documentation to supplement deliverables and codebase
                </li>
                <li>
                    Identify gaps in SDLC and establish project mangagement system
                </li>
            </ul>
        </section>
        <h2 class="h-two">projects</h2>
        <hr>
        <section class="proj-section">
            <ul>
                <li>
                    <a href="https://github.com/permalik/utility">Homelab Utility</a>
                </li>
            </ul>
        </section>
        <h2 class="h-two">education</h2>
        <hr>
        <section class="edu-section">
            <div>
                <h3 class="h-three">western governors university</h3>
                <p class="sub-h-three">Remote | Millcreek, UT</p>
            </div>
            <div>
                <h3 class="h-three">b.s. computer science</h3>
                <p class="sub-h-three">May 2025</p>
            </div>
        </section>
    </main>
</div>

<style lang="scss">
h2 {
    font-family: 'Lora Variable', sans-serif;
    text-transform: uppercase;
}
h3 {
    font-family: 'Lora Variable', sans-serif;
    text-transform: uppercase;
}
.main-header {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    font-family: 'Lora Variable', sans-serif;

    ul {
        width: 100%;

        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-between;

        & .links-two {
            text-align: end;
        }
    }
}
.exp-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    & div {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: center;

        & h3 {
            margin: 0 0.5rem 0 0;
        }
    }
}
.exp-list {
    list-style: disc;

    font-weight: 300;

    & li {
        margin: 0.25rem 0 0 1rem;
    }
}
.proj-section {
    & ul {
        & li {
            margin: 0.25rem 0 0 0;
        }
    }
}
.edu-section {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;

    & div {
        display: flex;
        flex-flow: row;
        align-items: baseline;

        & h3 {
            margin: 0 0.5rem 0 0 ;
        }
    }
}
.h-two {
    margin: 0.75rem 0 0 0;

    font-size: 1.125rem;
    font-weight: 400;
}
.h-three {
    margin: 0.75rem 0 0 0;

    font-size: 0.85rem;
    font-weight: 500;
}
.sub-h-three {
    font-style: italic;
    font-weight: 200;
}
</style>
