---
import '@fontsource-variable/lora';
---

<div>
    <header>
        <h1>Ty Malik</h1>
        <ul>
            <li>
                <a href="tel:+14057160711">(405) 716-0711</a>
            </li>
            <li>
                <a href="mailto:tymalik@pm.me">tymalik@pm.me</a>
            </li>
            <li>
                <a href="https://calendly.com/tymalik/">calendly.com/tymalik</a>
            </li>
            <li>
                <a href="https://tymalik.me/">tymalik.me</a>
            </li>
            <li>
                <a href="https://github.com/permalik/">github.com/permalik</a>
            </li>
            <li>
                <a href="https://linkedin.com/in/permalik/">linkedin.com/in/permalik</a>
            </li>
        </ul>
    </header>
    <main>
        <h2>technical</h2>
        <hr>
        <section>
            <h3>intermediate</h3>
            <p>Express.js, Git, GraphQL, JavaScript, MongoDB, Node.js, React.js, Redis, SvelteKit, Testing, TypeScript, Vue.js</p>
            <h3>beginner</h3>
            <p>Docker, Go, JSDoc, Laravel, PHP, PostgreSQL, Rust, Vim</p>
            <h3>novice</h3>
            <p>Bash, C#, DSA, Linux, Lua, .NET</p>
        </section>
        <h2>experience</h2>
        <hr>
        <section>
            <div>
                <div>
                    <h3>wpa intelligence </h3>
                    <p>Oklahoma City, OK</p>
                </div>
                <div>
                    <h3>software engineer </h3>
                    <p>September 2022 - Present</p>
                </div>
            </div>
            <p>
                Bonfire is a SaaS voter data analytics warehouse, query platform, and high-volume SMS messaging tool (
                <a href="https://app.bonfiredata.com/login/">app.bonfiredata.com</a>
                )
            </p>
            <ul>
                <li>
                    Introduce solutions requiring Node.js logic in Express.js server and UI updates in Vue2
                </li>
                <li>
                    Build tools allowing users to run impactful queries against SQL Server and MongoDB
                </li>
                <li>
                    Improve code quality and developer experience by employing dynamic GraphQL input types and refactoring relevant logic
                </li>
                <li>
                    Refactor legacy functional implementations, preferring procedural methods
                </li>
                <li>
                    Normalize and maintain large datasets across SQL Server and MongoDB
                </li>
                <li>
                    Verify quality of user experience, REST, and GraphQL endpoints with Cypress and Jest
                </li>
                <li>
                    Support Rust microservice architecture by adding unit and integration tests
                </li>
                <li>
                    Create CI pipeline with GitHub Actions, integrating with test suites and pre-commit hooks
                </li>
                <li>
                    Build internal tooling with Slackbot, Geekbot, GitHub REST API, and the Tauri/Rust framework
                </li>
                <li>
                    Write user-facing and internal documentation, instructing how to use products and code itself
                </li>
                <li>
                    Organize development workflow by identifying gaps in SDLC and establishing a project management system
                </li>
                <li>
                    Onboard and provide support for new developers as they acclimate to the codebase
                </li>
            </ul>
        </section>
        <h2>projects</h2>
        <hr>
        <section>
            <ul>
                <li>
                    <a href="https://github.com/systemysterio/quodaddy/">Quote Aggregator and Social Application</a>
                </li>
                <li>
                    <a href="https://github.com/permalik/bid-classics/">Classic Car Auction Platform</a>
                </li>
                <li>
                    <a href="https://github.com/permalik/utility/">Development Utilities</a>
                </li>
                <li>
                    <a href="https://github.com/permalik/nvim/">Custom Neovim Environment</a>
                </li>
            </ul>
        </section>
        <h2>education</h2>
        <hr>
        <section>
            <div>
                <div>
                    <h3>western governors university</h3>
                    <p>Remote/Millcreek, UT</p>
                </div>
                <div>
                    <h3>b.s. computer science</h3>
                    <p>May 25</p>
                </div>
            </div>
        </section>
    </main>
</div>

<style lang="scss">
header {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    ul {
        width: 95%;

        display: flex; 
        flex-flow: row nowrap;
        align-content: center;
        justify-content: space-between;
    }
}
h2 {
    font-family: 'Lora Variable', sans-serif;
    text-transform: uppercase;
}
h3 {
    font-family: 'Lora Variable', sans-serif;
    text-transform: uppercase;
}
</style>
